.toast-alert {
  visibility: hidden;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  z-index: 1;
  font-size: 17px;
  position: absolute;
  width: 100%;
}

.close-alert-button {
  background-color: inherit;
  color: white;
  margin-left: 10px;
  box-shadow: none;
  cursor: pointer;
  border: none;
}

.toast-alert.show.success {
  visibility: visible;
  background-color: #6f9bde;
}

.toast-alert.show.failure {
  visibility: visible;
  background-color: #9a1005;
}
