.toast-alert {
  visibility: hidden;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  z-index: 1;
  font-size: 17px;
}

.close-alert-button {
  background-color: aquamarine;
}

.toast-alert.show-success {
  visibility: visible;
  background-color: #6f9bde;
}

.toast-alert.show-failure {
  visibility: visible;
  background-color: #9a1005;
}
