.roadmap-image {
  border: 5px solid #9a1005;
}

.publications-grid {
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  /* padding: 10px; */
  display: grid;
}

.publications-figure {
  margin: 10px;
}

.publications-grid-column {
  margin-top: 10px;
}

.publication-margin {
  margin-bottom: 10px;
  font-size: 14px;
}

.indent-publication {
  text-align: center;
}
