.header-footer-outside {
	background-color: #161c66;
	color: white;
	height: 10vh;
	width: 100%;
	/* border-bottom: 2px solid #E09911; */
}

.header-footer-inside {
	background-color: #222a99;
	height: 10vh;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	align-items: center;
}
