.background-grey {
	/* background-color: #eef0f4; */
	/* opacity: 0.3; */
	background-color: #161c66;
}

.background-white {
	background-color: white;
}

.orange-border {
	height: 8px;
	background-color: #e09911;
}
