.header-footer-outside {
  background-color: #161C66;
  text-decoration-color: white;
  height: 10vh;
  width: 100%;
}

.header-footer-inside {
  background-color: #161C66;
    height: 10vh;
  margin-left: 10%;
  margin-right: 10%;
}

.background-grey {
  background-color: #EEF0F4;
}